fastapi==0.118.0
json5==0.12.1
tinycss2==1.4.0
rfc3986-validator==0.1.1
wcwidth==0.2.14
rfc3987-syntax==1.1.0
pydantic_core==2.33.2
nest-asyncio==1.6.0
pycparser==2.23
numpy==2.1.2
protobuf==6.32.1
referencing==0.36.2
websocket-client==1.8.0
torch==2.8.0+cu126
aiosignal==1.4.0
requests==2.32.5
urllib3==2.5.0
tornado==6.5.2
Jinja2==3.1.4
widgetsnbextension==4.0.14
jupyter_client==8.6.3
jupyterlab==4.4.9
packaging==25.0
diffusers==0.35.0
groovy==0.1.2
mdurl==0.1.2
importlib_metadata==8.7.0
yarl==1.20.1
arrow==1.3.0
stdlib-list==0.11.1
jupyter-console==6.6.3
gql==4.0.0
intervaltree==3.1.0
gradio_client==1.13.3
Brotli==1.1.0
GitPython==3.1.45
tzdata==2025.2
backoff==2.2.1
markdown-it-py==4.0.0
triton==3.4.0
sentencepiece==0.2.1
nvidia-cuda-cupti-cu12==12.6.80
networkx==3.3
tokenizers==0.22.1
nvidia-cudnn-cu12==9.10.2.21
webencodings==0.5.1
requests-toolbelt==1.0.0
soupsieve==2.8
debugpy==1.8.17
charset-normalizer==3.4.3
torchvision==0.23.0+cu126
ipython_pygments_lexers==1.1.1
types-python-dateutil==2.9.0.20250822
annotated-types==0.7.0
fqdn==1.5.1
nvidia-curand-cu12==10.3.7.77
jupyterlab_server==2.27.3
pdfminer.six==20250506
h11==0.16.0
nvidia-nccl-cu12==2.27.3
uvicorn==0.37.0
sympy==1.13.3
jupyter==1.1.1
parso==0.8.5
kaitaistruct==0.11
notebook==7.4.7
six==1.17.0
Pygments==2.19.2
websockets==15.0.1
rich==14.1.0
smmap==5.0.2
fickling==0.1.4
typing-inspection==0.4.2
isoduration==20.11.0
opencv-python==4.12.0.88
jupyter-lsp==2.3.0
stack-data==0.6.3
uri-template==1.3.0
sentry-sdk==2.39.0
nvidia-cusparse-cu12==12.5.4.2
comm==0.2.3
python-dateutil==2.9.0.post0
safetensors==0.6.2
nbclient==0.10.2
jupyterlab_widgets==3.0.15
ipywidgets==8.1.7
torchao==0.13.0
regex==2025.9.18
nvidia-cusolver-cu12==11.7.1.2
aiohttp==3.12.15
mpmath==1.3.0
ruff==0.13.3
peft==0.17.1
mistune==3.1.4
multidict==6.6.4
pexpect==4.9.0
nvidia-nvtx-cu12==12.6.77
gitdb==4.0.12
MarkupSafe==2.1.5
terminado==0.18.1
pytz==2025.2
gradio==5.48.0
jsonschema-specifications==2025.9.1
tomlkit==0.13.3
pytorch-lightning==2.5.5
aiofiles==24.1.0
asttokens==3.0.0
safehttpx==0.1.6
executing==2.2.1
babel==2.17.0
prompt_toolkit==3.0.52
prometheus_client==0.23.1
typer==0.19.2
fsspec==2024.6.1
platformdirs==4.4.0
httpx==0.28.1
fastjsonschema==2.21.2
pydub==0.25.1
sortedcontainers==2.4.0
prodigyopt==1.1.2
aiohappyeyeballs==2.6.1
weave==0.52.8
abnf==2.2.0
defusedxml==0.7.1
propcache==0.3.2
polyfile-weave==0.5.7
nbconvert==7.16.6
pandocfilters==1.5.1
nvidia-cuda-nvrtc-cu12==12.6.77
jedi==0.19.2
ffmpy==0.6.1
diskcache==5.6.3
beautifulsoup4==4.14.2
cint==1.0.0
python-multipart==0.0.20
graphviz==0.21
cffi==2.0.0
traitlets==5.14.3
argon2-cffi==25.1.0
attrs==25.3.0
shellingham==1.5.4
filelock==3.13.1
jupyter_core==5.8.1
frozenlist==1.7.0
nbformat==5.10.4
jupyter_server_terminals==0.5.3
pandas==2.3.3
nvidia-cufile-cu12==1.11.1.6
torchmetrics==1.8.2
anyio==4.11.0
lightning-utilities==0.15.2
rfc3339-validator==0.1.4
python-json-logger==3.3.0
huggingface-hub==0.35.3
nvidia-cufft-cu12==11.3.0.4
hf-xet==1.1.10
graphql-core==3.2.6
tenacity==9.1.2
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cublas-cu12==12.6.4.1
async-lru==2.0.5
argon2-cffi-bindings==25.1.0
idna==3.10
eval_type_backport==0.2.2
pillow==11.0.0
jupyterlab_pygments==0.3.0
ipython==9.6.0
cryptography==46.0.2
tqdm==4.67.1
orjson==3.11.3
httpcore==1.0.9
notebook_shim==0.2.4
bleach==6.2.0
lark==1.3.0
accelerate==1.10.1
nvidia-nvjitlink-cu12==12.6.85
ipykernel==6.30.1
webcolors==24.11.1
click==8.3.0
zipp==3.23.0
pydantic==2.11.9
setuptools==80.9.0
decorator==5.2.1
wandb==0.22.1
starlette==0.48.0
jupyter-events==0.12.0
lightning==2.5.5
wheel==0.45.1
Send2Trash==1.8.3
pip==25.2
jupyter_server==2.17.0
matplotlib-inline==0.1.7
semantic-version==2.10.0
PyYAML==6.0.3
typing_extensions==4.12.2
ptyprocess==0.7.0
pure_eval==0.2.3
chardet==5.2.0
certifi==2025.8.3
sniffio==1.3.1
rpds-py==0.27.1
jsonpointer==3.0.0
jsonschema==4.25.1
pyzmq==27.1.0
nvidia-cusparselt-cu12==0.7.1
psutil==7.1.0
transformers==4.56.2
